footer.bottom__footer.footer
  .footer__body
    .footer__column
      h3.footer__title.footer__title_big Afrianska
      ul.footer__list
        li.footer__item
          h4.footer__text
            span A.
            | Lorem ipsum dolor sit amet, consectetur
            |                     adipisicing elit.
        li.footer__item
          h4.footer__text
            span T.
            | +62-812-7313-4321
        li.footer__item
          h4.footer__text
            span E.
            | hello.afrian@gmail.com
    .footer__column
      h3.footer__title About US
      ul.footer__list
        li.footer__item
          a.footer__link(href='#') About
        li.footer__item
          a.footer__link(href='#') What We Do
        li.footer__item
          a.footer__link(href='#') Project
        li.footer__item
          a.footer__link(href='#') How It Work With Us
    .footer__column
      h3.footer__title Follow US
      ul.footer__list
        li.footer__item
          a.footer__link(href='#') Instagram
        li.footer__item
          a.footer__link(href='#') Facebook
        li.footer__item
          a.footer__link(href='#') LinkedIn
        li.footer__item
          a.footer__link(href='#') Youtube
  h3.footer__copyright
    | 2019 &copy; Afrianska. All rights reserved.
