body {
    background-color: #dfded9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0
}
:root {
    scroll-behavior: smooth;
}
.graf{width: 100%;}
.menu {
    background-color: #cac9c5;
    position: fixed;
    border-bottom: #51524d 3.5px solid;
    transition: ease 0.2s;
    width: 100%;
    padding: 0 50px;
    margin: 0;

    & ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        & li {
            margin: 10px;
            list-style-type: none;
            & a {
                font-family: "Playfair Display";
                font-style: normal;
                font-weight: bolder;

                font-size: 20px;

                text-align: center;
                text-transform: uppercase;
                margin: 0;
                color: #3c3c37;
                @media (max-width: 850px) {
                    font-size: 15px;
                }
                @media (max-width: 550px) {
                    font-size: 13px;
                }
            }
        }
    }
}
.header {
    background-color: #dfded9;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center
}

@media(max-width: 850px) {
    .header {
        max-width: 500px
    }
}

@media(max-width: 550px) {
    .header {
        max-width: 350px
    }
}

.header__title {
    border-bottom: #51524d 3.5px solid;
    font-size: 90px;
    padding: 15px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 638;
    line-height: 171px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #1e1e1c
}

@media(max-width: 850px) {
    .header__title {
        font-size: 60px;
        line-height: 100px
    }
}

@media(max-width: 550px) {
    .header__title {
        font-size: 40px;
        line-height: 70px
    }
}

.header__subtitle {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 600;
    padding: 40px;
    font-size: 45px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #3c3c37;
    border-bottom: #313332 8px solid
}

@media(max-width: 850px) {
    .header__subtitle {
        font-size: 30px;
        padding: 10px;
        line-height: 55px
    }
}

@media(max-width: 550px) {
    .header__subtitle {
        font-size: 20px;
        padding: 10px;
        line-height: 40px
    }
}

.intro {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-items: center
}

@media(max-width: 850px) {
    .intro {
        max-width: 500px
    }
}

@media(max-width: 550px) {
    .intro {
        max-width: 350px
    }
}

.intro__lead {
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 60px;
    color: #656663
}

@media(max-width: 850px) {
    .intro__lead {
        font-size: 20px;
        padding: 20px
    }
}

@media(max-width: 550px) {
    .intro__lead {
        font-size: 15px;
        padding: 15px
    }
}

.intro__text {
    margin: 50px 0;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    text-transform: uppercase;
    color: #656663
}

.intro__text span {
    font-weight: 700;
    font-size: 30px;
    
}

@media(max-width: 850px) {
    .intro__text {
        margin: 10px
    }
}

.intro__text_neo {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #313332
}

@media(max-width: 850px) {
    .intro__text_neo {
        font-size: 17px
    }
}

@media(max-width: 850px) {
    .intro__text {
        font-size: 15px
    }
}

.parts {
    max-width: 768px
}

@media(max-width: 850px) {
    .parts {
        max-width: 500px
    }
}

@media(max-width: 550px) {
    .parts {
        max-width: 350px
    }
}

.part-one {
    margin: 30px 0 50px 0
}

@media(max-width: 850px) {
    .part-one {
        margin: 20px 0
    }
}

@media(max-width: 550px) {
    .part-one {
        margin: 10px 0
    }
}

.part-one__title {
    margin: 0;
    padding: 50px 0;
    border-bottom: #313332 8px solid;
    border-top: #313332 8px solid;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
    text-transform: uppercase;
    color: #3c3c37
}

@media(max-width: 850px) {
    .part-one__title {
        font-size: 30px;
        padding: 10px
    }
}

.part-one__subtitle {
    margin: 50px 0;
    font-family: "Source Serif Pro";
    font-style: normal;
    padding: 0 60px;
    font-size: 20px;
    text-align: justify;
    text-transform: uppercase;
    color: #656663
}

.part-one__subtitle span {
    font-weight: 700;
    font-size: 30px
}

@media(max-width: 850px) {
    .part-one__subtitle span {
        font-size: 20px
    }
}

@media(max-width: 850px) {
    .part-one__subtitle {
        font-size: 15px
    }
}

.part-one__text {
    padding: 0 60px;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: #656663;
    text-align: justify
}

.part-one__text_bold {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #313332
}

@media(max-width: 850px) {
    .part-one__text_bold {
        font-size: 20px
    }
}

@media(max-width: 850px) {
    .part-one__text {
        font-size: 15px;
        padding: 10px
    }
}

.part-one__table {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center
}

.part-one__table-title {
    padding: 20px;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: #656663
}

@media(max-width: 850px) {
    .part-one__table-title {
        font-size: 15px
    }
}

.part-one__table-section {
    display: flex
}

@media(max-width: 550px) {
    .part-one__table-section {
        flex-direction: column
    }
}

.part-one__table-section_1 {
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #656663;
    border-radius: 10px;
    margin: 10px
}

@media(max-width: 850px) {
    .part-one__table-section_1 {
        font-size: 15px
    }
}

.part-one__table-section_2 {
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid #656663;
    border-radius: 10px
}

@media(max-width: 850px) {
    .part-one__table-section_2 {
        font-size: 15px
    }
}

.part-one__table-section_title {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #313332
}

@media(max-width: 850px) {
    .part-one__table-section_title {
        font-size: 20px
    }
}

.part-one__table-section_text {
    margin: 0;
    padding: 0;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: #656663;
    text-align: justify
}

@media(max-width: 850px) {
    .part-one__table-section_text {
        font-size: 15px
    }
}

.part-two__title {
    margin: 0;
    padding: 50px 0;
    border-bottom: #313332 8px solid;
    border-top: #313332 8px solid;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
    text-transform: uppercase;
    color: #3c3c37
}

@media(max-width: 850px) {
    .part-two__title {
        font-size: 40px;
        padding: 10px
    }
}

.part-two__subtitle {
    padding: 0 60px;
    margin: 50px 0px;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    text-transform: uppercase;
    color: #656663
}

@media(max-width: 850px) {
    .part-two__subtitle {
        font-size: 15px;
        margin: 10px
    }
}

@media(max-width: 550px) {
    .part-two__subtitle {
        font-size: 15px;
        margin: 10px;
        padding: 10px
    }
}

.part-two__subtitle span {
    font-weight: 700;
    font-size: 30px
}

@media(max-width: 850px) {
    .part-two__subtitle span {
        font-size: 20px
    }
}

.part-two__text {
    padding: 0 60px;
    margin: 20px 0px;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: #656663;
    text-align: justify
}

.part-two__text a {
    
}
.ref{
    color: #934343
    
}
.part-two__text span {
    font-weight: 700
}

@media(max-width: 850px) {
    .part-two__text {
        font-size: 15px
    }
}

@media(max-width: 550px) {
    .part-two__text {
        padding: 10px
    }
}

.part-two__timeline {
    padding: 30px 0
}

.part-two__timeline img {
    max-width: 768px
}

@media(max-width: 850px) {
    .part-two__timeline img {
        max-width: 500px;
        padding: 20px 0
    }
}

@media(max-width: 550px) {
    .part-two__timeline img {
        max-width: 350px;
        padding: 20px 0
    }
}

.part-three {
    position: relative
}

.part-three__title {
    margin: 50px 0;
    padding: 50px 0;
    border-bottom: #313332 8px solid;
    border-top: #313332 8px solid;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
    text-transform: uppercase;
    color: #3c3c37
}

@media(max-width: 850px) {
    .part-three__title {
        font-size: 40px;
        padding: 10px
    }
}

.part-three__text {
    padding: 0 60px;
    margin: 20px 0px;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    text-transform: uppercase;
    color: #656663
}

@media(max-width: 850px) {
    .part-three__text {
        font-size: 15px
    }
}

@media(max-width: 550px) {
    .part-three__text {
        padding: 10px
    }
}

.part-three__test {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    text-transform: uppercase;
    color: #656663
}

.bold-text {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #313332;
    margin: 20px 20px 40px 20px
}

@media(max-width: 850px) {
    .bold-text {
        font-size: 20px;
        margin: 10px
    }
}

.line {
    margin: 60px 80px 0 80px;
    border-bottom: #51524d 3.5px solid
}

@media(max-width: 850px) {
    .line {
        margin: 30px
    }
}

.conc {
    border-top: #313332 8px solid;
    margin: 20px 50px 50px 50px;
    max-width: 768px;
    padding-top: 40px
}

@media(max-width: 850px) {
    .conc {
        max-width: 500px;
        margin: 20px 0;
        padding: 0
    }
}

@media(max-width: 550px) {
    .conc {
        padding: 10px
    }
}

.conc__text {
    padding: 0 60px;
    margin: 20px 0px;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    text-transform: uppercase;
    color: #656663
}

.conc__text span {
    font-weight: 700;
    font-size: 30px
}

@media(max-width: 850px) {
    .conc__text span {
        font-size: 20px
    }
}

.conc__text.bold-text {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #313332;
    margin: 60px 20px 40px 20px
}

@media(max-width: 850px) {
    .conc__text.bold-text {
        font-size: 19px
    }
}

@media(max-width: 850px) {
    .conc__text {
        font-size: 15px;
        padding: 20px;
        margin: 0
    }
}

@media(max-width: 550px) {
    .conc__text {
        padding: 10px
    }
}

.footer {
    width: 100%;
    background: #313332;
    padding: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.credits{
    width: 750px;
    font-weight: 400;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 12px;
    text-align: justify;
    font-weight: normal;
    text-transform: uppercase;
    color: #dfded9;
    
    
}
@media(max-width: 850px) {
    .credits {
        max-width: 500px;
    }
}
@media(max-width: 550px) {
    .credits {
        max-width: 350px;
    }
}
[data-text] {
    position: relative;
    color: #934343;
    text-decoration: underline;
}

[data-text]::after {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #d9d9d9;
    z-index: 100;
    content: attr(data-text);
    position: absolute;
    width: 500px;
    left: 50%;
    top: 0;
    transform: translatex(-50%);
    background: #934343;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    pointer-events: none;
    opacity: 0;
    transition: .3s
}

@media(max-width: 850px) {
    [data-text]::after {
        font-size: 15px;
        padding: 5px;
        margin: 0;
        width: 200px;
        left: -50px;
        transform: translateX(0)
    }
}

@media(max-width: 550px) {
    [data-text]::after {
        width: 100px;
        font-size: 12px;
        left: 0
    }
}

[data-text]:hover::after {
    opacity: 1;
    top: 2em
}

.swiper {
    width: 600px;
    height: 500px
}

@media(max-width: 850px) {
    .swiper {
        width: 450px;
        height: 400px
    }
}

@media(max-width: 550px) {
    .swiper {
        width: 320px;
        height: 320px
    }
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}
.ans{
    font-weight: 400;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    text-transform: uppercase;
    color: #656663
}
