.bottom__talk.talk
  .talk__text
    h2.talk__title
      | Intersted to woek 
      br
      |               with our team?
    p.talk__subtitle
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      | enim ad minim veniam.
  a.talk__btn.button-st(href='./contact-us.html') Let&rsquo;s Talk
