a(href="./index.html") 
  img.header__logo(src=require('../../assets/img/logo.svg').default alt='')
.main__button.menu-btn
    .menu-btn__line.menu-btn__line_1
    .menu-btn__line.menu-btn__line_2
    .menu-btn__line.menu-btn__line_3
menu.header__menu.menu
    ul.menu__list
      li.menu__item
        a.menu__link(href='#') About 
      li.menu__item
        a.menu__link(href='#') What We Do
      li.menu__item
        a.menu__link(href='#') Project
      li.menu__item
        a.menu__link(href='#') How It Work With Us
      li.menu__item
        a.menu__link(href='./contact-us.html') Follow US
      li.menu__item.close &#x2716;
