section.help
  .help__grid.grid
    .help__title
      | What we do to help our client grow in digital era,
    .grid__item.grid__item_1
      img.grid__img(src=require("../../assets/img/grid_1.svg").default alt='' srcset='')
      h3.grid__title
        | Make Your business To Be Better Famous In Internet
      p.grid__subtitle
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a.grid__link(href='#') Learn more
    .grid__item.grid__item_2
      img.grid__img(src=require("../../assets/img/grid_2.svg").default alt='' srcset='')
      h3.grid__title Bring Technology To Your Comfrotable Home
      p.grid__subtitle
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a.grid__link(href='#') Learn more
    .grid__item.grid__item_3
      img.grid__img(src=require("../../assets/img/grid_3.svg").default alt='' srcset='')
      h3.grid__title
        | Build Your Digital Product That Suitable For Your Need
      p.grid__subtitle
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua.
      a.grid__link(href='#') Learn more