.bottom__clients.clients
  .clients__text
    h2.clients__title Our Beloved Client
    p.clients__subtitle
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      | ad minim veniam.
  .clients__grid
    .clients__item Client Logo
    .clients__item Client Logo
    .clients__item Client Logo
    .clients__item.nbr Client Logo
    .clients__item.nb Client Logo
    .clients__item.nb Client Logo
    .clients__item.nb Client Logo
    a.clients__item.nb.nbr(href='#') More Clients
