@import "null-style.scss";
body {
}
.content {
  max-width: 1170px;
  padding: 15px;
  margin: auto;
}
.header {
  transition: 0.3s ease;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 45px 0 0 0;
  background: url(https://acediamiz.github.io/23degree/img/main__bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 570px) {
    height: initial;
  }
  // .header__head
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 570px) {
      flex-direction: column;
      margin-bottom: 40px;
    }
  }
  // .header__logo
  &__block {
    display: flex;
    @media (max-width: 570px) {
      margin-top: 20px;
    }
  }
  // .header__tel
  &__tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    display: flex;
  }
  // .header__phone
  &__phone {
  }
  // .header__number
  &__number {
    margin-left: 10px;
  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: white;
    // .header__text_1
    &_1 {
    }
    // .header__text_2
    &_2 {
      font-size: 21px;
    }
  }

  &__main {
  }
  // .header__title
  &__title {
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    span {
      font-size: 36px;
      @media (max-width: 600px) {
        font-size: 25px;
      }
    }
    @media (max-width: 600px) {
      font-size: 30px;
    }
  }
  // .header__subtitle
  &__subtitle {
    margin-top: 25px;
    font-family: Roboto;
    font-size: 22px;
    color: white;
    text-align: center;
  }
  // .header__form
  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;

    h3 {
      position: relative;
      top: -50px;
      font-family: Roboto;
      font-size: 14px;
      color: white;
      text-align: center;
    }
  }
  &__form-block {
    @media (max-width: 1000px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      input {
        margin: 30px;
      }
    }
  }
  // .header__input
  &__input {
    padding-left: 27px;
    font-family: Roboto;
    border-radius: 35px;
    width: 290px;
    height: 51px;
    background-color: #ffffff;
    &:nth-child(2) {
      margin: 0 5px;
    }
  }
  // .header__button-block
  &__button-block {
    margin-top: 20px;
  }
  &__button {
    width: 232px;
    height: 55px;
    background-color: #19b5fe;
    border-radius: 35px;
    font-family: Roboto;
    font-size: 16px;
    color: #ffffff;
  }
  &__line {
    position: relative;
    top: -100px;
  }
  &__mouse {
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: 55px;

    cursor: pointer;
    @media (max-width: 570px) {
      display: none;
    }
  }
}
.nav {
  width: 50px;
  height: 45px;
  margin-left: 45px;
  // .nav__list
  &__btn {
    font-family: Roboto;
    transition: ease 0.3s;
    width: 45px;
    height: 40px;
    p {
      margin-top: 7px;
      text-transform: uppercase;
      padding-left: 2.5px;
      align-self: center;
      color: white;
      transition: ease 0.3s;
    }
    div {
      position: relative;
      width: 45px;
      height: 3px;
      background: #fff;
      transition: ease 0.3s;

      &:nth-child(2) {
        margin: 5px 0;
      }
    }
    &.active {
      @media (max-width: 1550px) {
        display: none;
      }
      p {
        display: none;
      }
      div {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 11px;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 9px;
        }
      }
    }
  }
  &__list {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: ease-in 0.3s;

    background: rgba($color: #5a5f60, $alpha: 0.5);
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    right: -200px;
    visibility: hidden;
    z-index: -1;
    &.active {
      position: fixed;
      z-index: 10;
      opacity: 1;
      right: 0;
      -webkit-box-shadow: -5px 0px 32px -2px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: -5px 0px 32px -2px rgba(0, 0, 0, 0.7);
      box-shadow: -5px 0px 32px -2px rgba(0, 0, 0, 0.7);
      @media (max-width: 1200px) {
        background: rgba($color: #5a5f60, $alpha: 1);
      }
    }
  }

  // .nav__item

  &__item {
    margin: 15px;
    a {
      color: #fff;
      opacity: 1;
      font-size: 30px;
      text-transform: capitalize;
      font-family: Roboto;
    }
  }

  &__close {
    cursor: pointer;
    position: relative;
    z-index: 100;
    width: 45px;
    height: 45px;
    p {
      color: #fff;
      opacity: 1;
      font-size: 30px;
      text-transform: capitalize;
      font-family: Roboto;
    }
    div {
      position: relative;
      width: 20px;
      height: 2px;
      background: #eb1919;
      transition: ease 0.3s;
      left: -30px;
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 17px;
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
        top: 14.5px;
      }
    }
  }
}
.global {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  // .global__title

  &__title {
    font-family: Roboto;
    font-size: 36px;
    color: #363636;
    margin-bottom: 22px;
    text-align: center;
    &_1 {
      color: #ffffff;
    }
  }

  // .global__line

  &__line {
    width: 377px;
    height: 1px;
    background-color: #19b5fe;
    &_1 {
      background: white;
    }
  }
}
.services {
  // .services__body

  &__body {
  }
  &__img {
    background-image: url(https://acediamiz.github.io/23degree/img/design__pic_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    min-width: 50%;
    padding-bottom: 30%;
    @media (max-width: 850px) {
      width: 100%;
      height: 100%;
    }
  }
  // .services__block

  &__block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: 850px) {
      flex-direction: column;
      margin-bottom: 50px;
      border: 2px #19b5fe solid;
      padding: 30px;
    }
    // .services__block_1

    &_1 {
    }

    // .services__block_2

    &_2 {
      .services__img {
        background-image: url(https://acediamiz.github.io/23degree/img/design__pic_2.png);
      }
    }

    // .services__block_3

    &_3 {
      .services__img {
        background-image: url(https://acediamiz.github.io/23degree/img/design__pic_3.png);
      }
    }
  }

  // .services__text

  &__text {
    width: 50%;
    padding: 30px;
    @media (max-width: 850px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  // .services__title

  &__title {
    font-size: 28px;
    font-weight: 300;
    color: #19b5fe;
    font-family: Roboto;
    margin-bottom: 25px;
    @media (max-width: 850px) {
      text-align: center;
      font-size: 23px;
    }
  }

  // .services__subtitle

  &__subtitle {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    color: #464646;
    @media (max-width: 850px) {
      text-align: center;
      font-size: 14px;
    }
  }

  // .services__btn

  &__btn {
    margin-top: 25px;
    display: block;
    width: 181px;
    height: 51px;
    background-color: #19b5fe;
    border-radius: 30px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    color: white;
    padding-top: 17px;
  }

  // .services__img
}
.calc {
  padding: 40px 20px 67px 20px;
  background: url(https://acediamiz.github.io/23degree/img/calc__bg.png)
    no-repeat;
  background-position: center;
  background-size: cover;
  // .calc__range
  &__title {
    font-family: Roboto;
    font-size: 26px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 300;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1030px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__range {
  }
  &__block {
    @media (max-width: 1030px) {
      margin-bottom: 40px;
    }
  }
}
.range {
  width: 654px;
  height: 129px;
  border: solid 1px #ffffff;
  border-radius: 7px;
  padding: 26px 26px;
  @media (max-width: 700px) {
    width: 550px;
  }
  @media (max-width: 600px) {
    width: 350px;
  }
  @media (max-width: 420px) {
    width: 300px;
  }

  // .range__title

  &__title {
    font-family: Roboto;
    font-size: 20px;
    color: white;
  }
  &__value {
    padding-left: 10px;
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: 200;
  }
  // .range__number

  &__number {
    margin: 15px 0 16px 0;
    display: flex;
    justify-content: space-between;
  }

  // .range__num

  &__num {
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: 200;
  }

  // .range__line

  &__line {
    appearance: none;
    height: 9px;
    width: 100%;
    background: rgba($color: #fff, $alpha: 0.5);
    border-radius: 30px;
    position: relative;
    &::after {
      content: "";
      width: 18px;
      height: 18px;
      background-color: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: -5px;
    }
    &::before {
      content: "";
      width: 18px;
      height: 18px;
      background-color: #ffffff;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: -5px;
    }
  }
  &__line::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 9px #19b5fe solid;
    background: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }

  &__line::-moz-range-thumb {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 9px #19b5fe solid;
    background: #fff;
    cursor: pointer;
    z-index: 1000;
  }
}
.package {
  margin-top: 10px;
  width: 654px;
  height: 129px;
  border: solid 1px #ffffff;
  border-radius: 7px;
  padding: 26px 26px;
  @media (max-width: 700px) {
    width: 550px;
  }
  @media (max-width: 600px) {
    width: 350px;
  }
  @media (max-width: 420px) {
    width: 300px;
  }

  &__title {
    font-family: Roboto;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
  }

  // .package__block

  &__block {
    display: flex;
    justify-content: space-between;
  }

  // .package__btn

  &__btn {
    opacity: 0;
  }
  &__popup {
    visibility: hidden;
    width: 443px;
    color: #464646;
    text-align: center;
    border-radius: 6px;
    padding: 31px 21px;
    position: absolute;
    z-index: 1;
    bottom: -340%;
    background-color: #ffffff;
    left: 50%;
    margin-left: -220px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    font-weight: normal;
    &::after {
      content: "";
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -25px;
      border-width: 25px;
      border-style: solid;
      border-color: transparent transparent #fff;
    }
  }
  // .package__radio

  &__radio {
    display: block;
    cursor: pointer;
    width: 193px;
    height: 45px;
    border: solid 1px #ffffff;
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: 200;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 1000;

    &_1 {
      &.active {
        background: #19b5fe;
        .package__popup {
          visibility: visible;
          -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
        }
      }
    }
    &_2 {
      &.active {
        background: #19b5fe;
        .package__popup {
          visibility: visible;
          -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
        }
      }
    }
    &_3 {
      &.active {
        background: #19b5fe;
        .package__popup {
          visibility: visible;
          -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
        }
      }
    }
  }
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // .price__text

  &__text {
    font-family: Roboto;
    font-size: 16px;
    color: white;
    margin-bottom: 26px;
  }

  // .price__value

  &__value {
    margin-top: 15px;
    font-size: 32px;
    display: block;
    text-align: center;
  }
  &__btn {
    font-family: Roboto;
    font-size: 14px;
    color: white;
    border-radius: 30px;
    width: 309px;
    height: 51px;
    background-color: #19b5fe;
    margin-bottom: 22px;
  }
  &__phone {
    font-family: Roboto;

    font-size: 18px;
    display: block;
    text-align: center;
    line-height: 1.71;
  }
}
.portfolio {
  padding: 30px;

  // .portfolio__tabs

  &__tabs {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    border-radius: 22px;
    border: solid 1px #19b5fe;

    margin-bottom: 50px;
    padding: 0 20px;
    flex-wrap: wrap;
  }

  // .portfolio__tab

  &__tab {
    margin: 0 10px;
    cursor: pointer;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #19b5fe;
    text-align: center;
    @media (max-width: 960px) {
      margin: 15px 10px;
    }
    &:hover {
      padding: 0 5px;

      height: 100%;
      background: #19b5fe;
      color: white;
      padding: 15px;
      border-radius: 7px;
    }
    &.active {
      padding: 0 5px;

      height: 100%;
      background: #19b5fe;
      color: white;
      padding: 15px;
      border-radius: 7px;
    }
  }

  // .portfolio__list

  &__list {
  }

  // .portfolio__item

  &__item {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    &.active {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 30px;
      @media (max-width: 1220px) {
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 360px);
      }
    }
    @media (max-width: 1220px) {
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, 360px);
    }
  }

  // .portfolio__img

  &__img {
    max-width: 360px;
    max-height: 260px;
    @media (max-width: 500px) {
      width: 340px;
      height: 230px;
    }
  }
}
.reasons {
  padding-top: 40px;
  // .reasons__block
  background-color: #f2f8f9;
  &__block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  // .reasons__item

  &__item {
    margin-bottom: 55px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // .reasons__img

  &__img {
  }

  // .reasons__line

  &__line {
    width: 124px;
    height: 1px;
    background-color: #19b5fe;
    margin: 15px 0 23px 0;
  }

  // .reasons__text

  &__text {
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
  }
}
.process {
  padding-top: 40px;
  // .process__block

  &__block {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 4);
    @media (max-width: 1130px) {
      grid-template-columns: 570px;
      grid-gap: 10px;
    }
    @media (max-width: 575px) {
      grid-template-columns: 340px;
      grid-gap: 10px;
    }
  }

  // .process__img

  &__img {
    @media (max-width: 575px) {
      width: 340px;
    }
  }

  // .process__text

  &__text {
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1130px) {
      border: solid 1px rgba($color: #464646, $alpha: 0.3);
    }
    @media (max-width: 575px) {
      height: 155px;
    }
    span {
      font-family: Roboto;
      font-size: 30px;
      color: #464646;
    }
  }
}
.brands {
  padding: 40px 0;
  // .brands__scrolls
  background-color: #f2f8f9;
  &__scrolls {
    display: flex;
    flex-wrap: nowrap;
    height: 100px;

    width: 100%;
    overflow-x: auto;
  }

  // .brands__img

  &__img {
  }
}
.team {
  padding-top: 40px;

  // .team__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    @media (max-width: 820px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
    @media (max-width: 570px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }

  // .team__item

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  // .team__img

  &__img {
    margin-bottom: 22px;
  }

  // .team__name

  &__name {
    font-family: Roboto;
    font-size: 24px;
    color: #19b5fe;
    display: flex;
    text-align: center;
    flex-direction: column;
    span {
      margin-top: 15px;
      font-size: 16px;
      color: #464646;
    }
  }

  // .team__text

  &__text {
    position: relative;
    margin: 40px auto 0 auto;
    width: 70%;
    &::after {
      position: relative;
      content: url(https://acediamiz.github.io/23degree/img/after.png);
      right: -100%;
    }
    &::before {
      content: url(https://acediamiz.github.io/23degree/img/begin.png);
    }
  }

  // .team__title

  &__title {
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    line-height: 1.44;
    color: #464646;
    span {
      font-size: 30px;
    }
  }

  // .team__subtitle

  &__subtitle {
    margin-top: 15px;
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    line-height: 1.7;
    color: #464646;
    font-weight: bold;
    span {
      font-size: 16px;
      font-weight: normal;
    }
  }
}
.blog {
  padding: 40px 0 60px 0;
  background: #f2f8f9;
  // .blog_body

  &_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  // .blog__item

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 560px) {
      width: 100%;
    }
  }

  // .blog__img

  &__img {
    margin-bottom: 30px;
    @media (max-width: 560px) {
      width: 100%;
    }
  }

  // .blog__link

  &__link {
    font-family: Roboto;
    font-size: 18px;
    color: #19b5fe;
    text-align: center;
    max-width: 555px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.question {
  padding: 40px 0 70px 0;
  background-image: url(https://acediamiz.github.io/23degree/img/question__bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // .question__body

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  // .question__form
  &__input {
    display: flex;

    flex-wrap: wrap;
  }
  &__form {
    width: 64%;
    display: flex;
    flex-direction: column;
    @media (max-width: 330px) {
      width: 100%;
    }
  }
  &__submit {
    width: 180px;
    height: 45px;
    font-family: Roboto;
    font-size: 14.5px;
    color: white;
    font-weight: lighter;
    border-radius: 30px;
    background-color: #19b5fe;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  // .question__name
  &__title {
    font-family: Roboto;
    font-size: 26px;
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 40px;
  }
  &__name {
    width: 230px;
    height: 40px;
    border: solid 1px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    font-family: Roboto;
    font-size: 13px;
    color: #606060;
    padding: 20px;
    margin-bottom: 15px;
  }

  // .question__email

  &__email {
    width: 230px;
    border-radius: 7px;
    font-family: Roboto;
    font-size: 13px;
    color: #606060;
    padding: 20px;
    margin: 0 19px 15px 19px;

    height: 40px;
    border: solid 1px rgba(0, 0, 0, 0.11);
    @media (max-width: 799px) {
      margin: 0 0 15px 0;
    }
  }

  // .question__phone

  &__phone {
    width: 230px;
    padding: 20px;
    margin-bottom: 15px;

    border-radius: 7px;
    font-family: Roboto;
    font-size: 13px;
    color: #606060;
    height: 40px;
    border: solid 1px rgba(0, 0, 0, 0.11);
  }

  // .question__social

  &__social {
    margin-left: 30px;
  }

  // .question__social-body

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &_1 {
      margin-top: 20px;
      font-family: Roboto;
      font-size: 13px;
      color: white;
    }
  }

  // .question__img

  &__img {
    width: 12px;
    height: 12px;
  }
  &__img-box {
    width: 27px;
    height: 27px;
    border-radius: 4px;
    border: solid 1px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .question__text

  &__textarea {
    padding: 20px;
    display: block;
    width: 100%;
    height: 123px;
    border: solid 1px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    font-family: Roboto;
    font-size: 13px;
    color: #606060;
  }

  // .questions__text

  &__text {
    margin-left: 15px;
    font-family: Roboto;
    font-size: 15px;
    color: #ffffff;
  }
}

.map {
  // .map__block
  position: relative;
  &:hover {
    .map__block {
      &::before {
        visibility: hidden;
      }
    }
  }
  &__block {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #363636, $alpha: 0.3);
    }
  }
}
.footer {
  background-color: #24241f;
  // .footer__text
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__text {
    font-family: Roboto;
    font-size: 14px;
    color: white;
  }

  // .footer__img

  &__img {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    color: white;
  }
}
